[Unit]
Description=Warpctl community lb anyhost-ens5
Requires=network.target
After=network.target
Requires=docker.service
After=docker.service
ReloadPropagatedFrom=network.target docker.service

[Service]
Type=simple
Environment="WARP_HOME=/srv/warp/community"
ExecStart=/usr/local/sbin/warpctl service run community lb anyhost-ens5 --rttable="ens5:100" --dockernet=warpens5 --portblocks="80:7080:7201-7230;443:7443:7231-7260" --services_dockernet=warpservices --mount_vault=yes --mount_config=no --mount_site=no --status=standard --status-prefix=bloke-tanager-quantify-nuncio --domain=vpn.dev
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStopSec=60
Restart=always
StandardOutput=append:/var/log/warp/community-lb-ens5.out
StandardError=append:/var/log/warp/community-lb-ens5.err

[Install]
WantedBy=multi-user.target